
<form id="login-form" ng-controller="loginController">
    <div class="login-text"> Login Form </div>
    <div>
        <div  class="labels">Email</div>
        <input type="text" ng-model="email" placeholder="bentennison69@gmail.com">
    </div>
    <div>
        <div  class="labels">Password</div>
        <input type="password" ng-model="password" >
    </div>
    <div class="msg"><a href="#!/register">Register</a></div>
    <div class="msg" ng-bind="msg"></div>
    <input type="submit" ng-click="login()">
</form>