<form id="login-form" ng-controller="loginController">
    <div class="login-text"> Register Form </div>
    
    <div>
        <div class="labels">Username</div>
        <input type="text" ng-model="$parent.username" placeholder="ben">
    </div>
    <div>
        <div class="labels">Email</div>
        <input type="text" ng-model="$parent.email" placeholder="bentennison69@gmail.com">
    </div>
    <div>
        <div class="labels">Password</div>
        <input type="password" ng-model="$parent.password">
    </div>

    <div class="msg"><a href="#!/login">Login</a></div>
    <div class="msg" ng-bind="msg"></div>
    
    <input type="submit" value="Register" ng-click="register()">
</form>